
.container{
    position: relative;
    width: 1000px;
    margin:0 auto;
}
#header_main{
    position: relative;
}
div{
    display: block;
}
/* 헤더1 - userMenu */
#userMenu{
   width:1050px;
   height: 30px;
   margin:0 auto;
}
#userMenu .user{
    float: left;
    height: 37px;
    padding: 0 22px 0 10px;
    line-height: 35px;
    white-space: nowrap;
    
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    float:right;
}
a{
    text-decoration:none;
}

/* 헤더2 - logo */
#headerLogo {
    display: block;
    position: relative;
    width: 1000px;
    height: 63px;
    margin: 0 auto;
}

.logo_image img{
    display: block;
    width: 110px;
    height: 80px;
    margin: 0 auto;
}

/*헤더3 - Menu */
#gnbMenu{
    position: relative;
    z-index: 1000;
    width: 1000px;
    background-color: white;
}
.inner{
    position: relative;
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}
.gnb_main{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
.gnb{
    float: left;
    width:100%;
}
.gnb_main .gnb a{
    overflow: hidden;
    float: left;
    height: 20px;
    padding: 0px 50px 10px 60px;
    font-size: 16px;
    color: blue;
    line-height: 20px;
}
.menu_1{
    float:left; 
}
.menu_2{
    float: left;
}
.menu_3{
    float: left;
}
.menu_4{
    float: left;
}
.menu_5{
    float: left;
}
/* 스크롤 고정*/
#gnbMenu.fixed{
    position: fixed;
    top: 0px;
    margin: 0; 
}


/* 본문1 - banner(배너) */
.content{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    display: block;
}
.banner {
    position: absolute;
    width: 1000px; 
    height: 210px; 
    top: 50px;  
    margin:0 auto; 
    padding:0; 
    overflow: hidden;
    display: block;
}
.banner ul {
    position: absolute; 
    margin: 0px auto; 
    padding:0; 
    list-style: none; 
}
.banner ul li {
    position: center;
    float: left; 
    width: 1000px; 
    height: 210px; 
    margin:0; 
    padding: 0;
}

 /* 본문2 - 상품 내용 */
.main_type1{
    top: 300px;
    position: relative;
    width: 1000px;
    margin:0 auto;
}
.main_1{
    border: 1px solid white;
    text-align: center;
}
body {
    font-size:11pt; 
    padding:0; 
    margin:0; 
    text-align: center;
}

.main_type2{
    top:350px;
    position: relative;
    width: 1000px;
    margin:0 auto;
    background-color: rgb(232, 226, 238);
}

.main_type3{
    top: 400px;
    position: relative;
    width: 1000px;
    margin:0 auto;
}

.main{
    text-align: center;
}
.product_list{
    text-align: center;
}
.list{
    display: inline-block;
    margin:0 auto;
}